@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap');
body {
    font-family: 'Source Code Pro', monospace;
}
header {
    text-align: center;
    margin-top: 50px;
}
header h1 {
    color: #444444;
    font-size: 5vw;
    margin-bottom: 20px;
}
header a {
    text-decoration: none;
    color: #777777;
    transition: 0.1s;
}
header a:hover {
    color: #444444;
}
@media only screen and (max-width: 600px) {
    header h1 { 
        font-size: 15vw;
    }
}

.main {
    margin-top: 5%;
    margin-left: 25%;
    margin-right: 25%;
}
@media only screen and (max-width: 600px) {
    .main {
        margin-top: 5%;
        margin-left: 5%;
        margin-right: 5%;
    }
}

.posts h2 {
        color: #444444;
        font-size: 25px;
}

.posts p {
    color: #777777;
    font-size: 20px;
}

.posts {
    text-align: center;
    word-wrap: break-word;
}


#overlay {
    position: fixed;
    display: none;
    width: 35%;
    height: 40%;
    top: 30%;
    left: 33%;
    right: 33%;
    bottom: 0%;
    background-color: white;
    border: #777777 2px solid;
    z-index: 2;
    border-radius: 30px;
  }
  @media only screen and (max-width: 600px) {
    #overlay {
        position: fixed;
        display: none;
        width: 90%;
        height: 60%;
        top: 20%;
        left: 5%;
        right: 5%;
        bottom: 0%;
        background-color: white;
        border: #777777 2px solid;
        z-index: 2;
        border-radius: 30px;
      }
    }
  
  #text{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    width: 80%;
    transform: translate(-50%,-45%);
    -ms-transform: translate(-50%,-50%);
  }

  @media only screen and (max-width: 600px) {
    #text{
        position: absolute;
        top: 52%;
        left: 50%;
        font-size: 50px;
        color: white;
        width: 90%;
        transform: translate(-50%,-45%);
        -ms-transform: translate(-50%,-50%);
      }
    }


  input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #444444;
    border-radius: 10px;

  }

  textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #444444;
    border-radius:  10px;
    height: 200%;
  }

  
  input[type=submit] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: white;
    border: 2px solid #444444;
    border-radius: 10px;
    bottom: 0;
  }
  footer {
      margin-top: 50%;
  }
  footer a {
    text-decoration: none;
    color: #777777;
    transition: 0.1s;
}
footer a:hover {
    color: #444444;
}