@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('dark.css');

html {
  scroll-behavior: smooth;
}
:root {
  --main: #9088d4;
  --colour2: #383838;
--colour3: #737373;
--colour4: #cfcfcf;
--colour5: #929292;
--bg: white;
--font: 'Poppins', sans-serif;
}

body {
  display:flex;
  flex-direction:column;
  margin: 0;
  height:100%;
  font-family: var(--font);
  background-color: var(--bg);
}


header {
  background-color: var(--bg);
  padding-top: 120px;
  padding-bottom: 120px;
  color: var(--colour2);
  text-align: center;
  font-size: 60px; 
  font-weight: bold;
  width: 100%;
  transition: 0.1s;
  padding-left: 0;
  box-shadow: none;
  border-bottom: 0px solid white;

}

.header2 {
  background-color: var(--bg);
  padding-top: 15px;
  padding-bottom: 15px;
  color: var(--colour3);
  text-align: left;
  font-size: 20px; 
  font-weight: normal;
  position: fixed;
  top: 0;
  width: 100%;
  transition: 0.3s ease-in-out;
  padding-left: 25px;
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
  border-bottom: 0px solid white;
}

main {
  flex-grow:1;
  padding:20px;
  margin-left: 35%;
  margin-right: 35%;
  padding-bottom: 50px;
  word-wrap: normal;
  word-break: break-word;
  transition: 0.2s;
  margin-top: 40px;
  
}
@media only screen and (max-height: 500px) {
main {
  margin-top: 60px;
  padding-bottom: 5px;
}
}
@media only screen and (max-width: 1200px) {
  main {
  margin-left: 20%;
  margin-right:20%;
  
  }
}
@media only screen and (max-width: 900px) {
  main {
  margin-left: 15%;
  margin-right:15%;
  
  }
}
@media only screen and (max-width: 800px) {
  main {
  margin-left: 10%;
  margin-right:10%;
  
  }
}
@media only screen and (max-width: 600px) {
  main {
  margin-left: 0;
  margin-right: 0;
  
  }
}
main h2 {
  font-size: 30px;
  margin-bottom: 10px;
  color: var(--colour2);
}
main a {
  color: var(--main);
  transition: 0.2s;
  text-decoration: none;
}

main a:hover {
  color: var(--colour2);
}

main p {
  font-size: 25px;
  color: var(--colour3);
  margin-top: 0;

}
input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin-bottom: 8px;
  box-sizing: border-box;
  border: 5px solid var(--colour4);
  background-color: var(--bg);;
  border-radius: 5px;
  font-family: var(--font);
  transition: 0.2s;
  outline: none;
}

a h2 {
  color: var(--main);
  text-decoration: none;
}
a h2:hover {
  color: var(--colour2);
  transition: 0.2s;
  text-decoration: none;
}

textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 5px solid var(--colour4);
  background-color: var(--bg);
  border-radius: 5px;
  resize: none;
  transition: 0.2s;
  font-family: var(--font);
  outline: none;
}
@media only screen and (max-width: 600px) {
textarea {
    height: 20%;
}
}

input[type=submit] {
  width: 40%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 5px solid var(--colour4);
  background-color: var(--bg);;
  color: var(--colour5);
  border-radius: 5px;
  bottom: 0;
  transition: 0.1s;
  cursor: pointer;
  font-family: var(--font);
  margin-bottom: 30px;
  outline: none;
}
input[type=submit]:hover {
  background-color: var(--colour4);
  color: var(--bg);
}
/* MDC stuff */
.mdc-bottom-navigation {
  height: 60px;
  background-color: var(--mdc-theme-background, var(--bg));
  width: 100%;
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
  overflow: hidden;
  z-index: 8;
  transition: 0.2s;
}
@media only screen and (max-height: 500px) {
  .mdc-bottom-navigation {
    display: none;
  }
}
.mdc-bottom-navigation__list {
  display: flex;
  justify-content: center;
  height: 100%;
}
.mdc-bottom-navigation__list-item {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 12px;
  min-width: 60px;
  max-width: 168px;
  box-sizing: border-box;
  color: var(--mdc-theme-text-secondary-on-background, rgba(0, 0, 0, 0.54));
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
          color: var(--main);
}
.mdc-bottom-navigation__list-item__icon {
  padding-top: 8px;
  pointer-events: none;
  transition-property: padding-top, color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 100ms;
  color: var(--main);
}
.mdc-bottom-navigation__list-item__icon path {
  fill: var(--mdc-theme-text-secondary-on-background, rgba(0, 0, 0, 0.54));
}
.mdc-bottom-navigation__list-item__text {
  margin-top: auto;
  padding-bottom: 10px;
  font-size: 0.75rem;
  pointer-events: none;
  transition-property: font-size, color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 100ms;
}
.mdc-bottom-navigation__list-item--activated .mdc-bottom-navigation__list-item__icon {
  padding-top: 6px;
}
.mdc-bottom-navigation__list-item--activated .mdc-bottom-navigation__list-item__text {
  font-size: 0.875rem;
}
.mdc-bottom-navigation__list-item--activated .mdc-bottom-navigation__list-item__icon, .mdc-bottom-navigation__list-item--activated .mdc-bottom-navigation__list-item__text {
  color: var(--colour2);
}
.mdc-bottom-navigation__list-item--activated .mdc-bottom-navigation__list-item__icon path, .mdc-bottom-navigation__list-item--activated .mdc-bottom-navigation__list-item__text path {
  fill: var(--mdc-theme-primary, var(--main));
}
.mdc-bottom-navigation--shifting .mdc-bottom-navigation__list-item {
  min-width: 56px;
  max-width: 96px;
  transition-property: min-width, max-width;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 100ms;
}
.mdc-bottom-navigation--shifting .mdc-bottom-navigation__list-item .mdc-bottom-navigation__list-item__icon {
  padding-top: 16px;
  transition-property: padding-top;
}
.mdc-bottom-navigation--shifting .mdc-bottom-navigation__list-item .mdc-bottom-navigation__list-item__text {
  position: absolute;
  line-height: 10px;
  bottom: 0;
  opacity: 0;
  transition-property: opacity, font-size;
}
.mdc-bottom-navigation--shifting .mdc-bottom-navigation__list-item--activated {
  min-width: 96px;
  max-width: 168px;
}
.mdc-bottom-navigation--shifting .mdc-bottom-navigation__list-item--activated .mdc-bottom-navigation__list-item__icon {
  padding-top: 8px;
  transition-property: padding-top;
}
.mdc-bottom-navigation--shifting .mdc-bottom-navigation__list-item--activated .mdc-bottom-navigation__list-item__text {
  opacity: 1;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
.icon  {
  font-size: 30px;
  color: var(--main);
}
.icon:hover {
  color: var(--colour2);
  transition: 0.2s;
}
a p {
  font-size: 20px;
  color: var(--main);
  text-decoration: none;
}
a {
  text-decoration: none;
}
article {
  border-radius: 5px;
  border: 5px solid var(--colour4);
  padding-left: 20px;
  padding-right: 20px;
  position:relative; /*added*/
  z-index: -99; /*added*/
  margin-left: -10px;
  margin-right: -10px;
  text-transform: capitalize;
}
article span {
  position: absolute;
  top: -13.5px;
  background-color: var(--bg);
  right: 30px;
  font-size: 14px;
  color: var(--colour3);
  padding-left: 5px;
  padding-right: 5px;
}
@media only screen and (max-width: 600px) {
  article span {
      right: 15px;
  }
}

.loader {
  border: 10px solid var(--colour4);
  border-radius: 50%;
  border-top: 10px solid var(--main);
  width: 120px;
  height: 120px;
  margin-left: 37%;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


/*#myTopnav*/

#myTopnav{
  position:fixed;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
    transition: all .1s;
  overflow: hidden;
  padding: 10px;
  background-color: var(--bg);
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}

#myTopnav a {
  float: left;
  color: var(--colour3);
  text-align: center;
  padding: 8px 16px;
  text-decoration: none;
  font-size: 17px;
  border-radius: 5px;
  margin-right: 5px;
  transition: 0.1s;
}

#myTopnav a:hover {
  background-color: var(--colour4);
  color: var(--colour2);
}

#myTopnav a.active {
  background-color: var(--main);
  color: white;
  transition: 0.2s;
}

.nav-right {
  float: right;
}


#myTopnav .icon {
  display: none;
  transition: 0.2s;
  
}
#myTopnav .github {
    display: none;
}
@media screen and (max-width: 900px) {
  .nav-right {
      display: none;
  }
}
@media screen and (max-width: 900px) {
  #myTopnav #responsive .top{
      width: 90%;
      transition: 0.2s;

  }
}

@media screen and (max-width: 900px) {
  #myTopnav a:not(:first-child) {display: none; 
}
  #myTopnav a.icon {
    float: right;
    margin-right: 15px;
    display: inline;
    
  }
}
@media screen and (max-width: 900px) {
  .github2 {
    display: none;
  }
  }


/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {

}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--colour3); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--colour2); 
}

#title {
  text-transform:lowercase;
}

#comment {
  text-transform:lowercase;
}

#fullnav {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: right;
  background-color: var(--bg); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
}
#fullnav .main {
    position: fixed;
    bottom: 20px;
    left: 20px;
}
#fullnav a {
  float: left;
  color: var(--colour3);
  text-align: right;
  padding: 8px 16px;
  text-decoration: none;
  font-size: 30px;
  border-radius: 5px;
  margin-right: 5px;
  transition: 0.1s;
}
#fullnav p {
  position: fixed;
  top: -30px;
  left: 25px;
  color: var(--colour3);
  text-decoration: none;
  font-size: 40px;
}

#fullnav a:hover {
  background-color: var(--colour4);
  color: var(--colour2);
}

.exit-icon a  {
  position: fixed;
  top: 5px;
  right: 5px;
  margin-right: 0;
  color: var(--colour3);
  text-decoration: none;
  font-size: 35px;
  font-weight: 1.5;
}

* {     
  box-sizing: border-box;
}

.c1 img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
@media screen and (max-width: 900px) {
  .c1 img {
      width: 100%;
  }
  }
.column {
  float: left;
  width: 50%;
  padding: 10px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 900px) {
  .column {
    width: 100%;
  }
}